--e /Users/ckgathi/source/edc-base
--e /Users/ckgathi/source/edc-constants
--e /Users/ckgathi/source/edc-dashboard
--e /Users/ckgathi/source/django-crypto-fields
--e /Users/ckgathi/source/django-revision
--e /Users/ckgathi/source/edc-device
--e /Users/ckgathi/source/edc-registration
--e /Users/ckgathi/source/edc-identifier
--e /Users/ckgathi/source/edc-protocol
--e /Users/ckgathi/source/edc-model-wrapper