  {% extends 'bcpp_data_cleaning/base.html' %}

  {% block main %}

    {{ block.super }}


<div class="container">
   <div class="row">
      <div class="col-md-5">
        <div class="panel panel-info">
          <div class="panel-heading">Reports</div>
            <div class="panel-body">
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">Statistics</div>
            <div class="panel-body">
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">BCPP Data Cleaning Administration</div>
            <div class="panel-body">
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'bcpp_data_cleaning_admin:index' %}">Bcpp Data Cleaning Admin</a>
              <a role="button" class="btn btn-sm btn-default btn-block" href="{% url 'edc_registration:edc_registration_admin:index' %}">Registration</a>
            </div>
        </div>

        </div>

      </div>
    </div>

    {% endblock main %}
